.days {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: darkgray;
    border-top-style: solid;
    border-width: 3px;
    
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

button {
    margin-bottom: 2vh;
    width: 10vw;
    height: 4vh;
    border-radius: 7px;
    border-color: darkgray;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

.createBtn {
    margin-left: 2vw;
    color: green;
}