.dayContainer {
    border-color: white;
    border-width: 1px;
    border-style: solid;
    min-width: fit-content;
    width: 12vw;
    height: 70vh;
    padding: 1vmin;
    
    margin-left:  2.5vmin;
    margin-right: 2.5vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    margin-top: 1vh;
}

hr {
    width: 100%;
}

.past {
    color: darkgray;
    border-color: darkgray;
}

.deleteBtn {
    color: red;
    margin-top: auto;
    align-self: center;
}