.dayContainer {
    border-color: white;
    border-width: 1px;
    border-style: solid;
    width: fit-content;
    height: 70vh;
    padding: 1vmin;
    
    margin-left:  2.5vmin;
    margin-right: 2.5vmin;
}